<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Sticko - Post-its </title>
   <link rel="stylesheet" href="../css/mur_postits.css">
 </head>

 <body>
    
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"><!--ajouter token -->
    
    <nav>
        <div class="user-info" id="user-info"></div>
        <ul>
            <li><a href="/ajouter" class="creation" id="creation">Creer</a></li>
            <li><a href="/modifier" class="modification"  id="modification">modifier</a></li>
            <li><a href="/effacer" class="suppression"  id="suppression">Supprimer</a></li>
            <li><a href="/admin/users" class="utilisateurs"  id="utilisateurs">Utilisateurs</a></li>
            <li><a href=" " class="logout" id="logout">Logout</a></li>
        </ul>
    </nav>

    
    
    <div class="mur" id="mur" >
        
    <div id="alertBox" class="alert-box hidden"></div>
    </div>
    
    
<footer>
  <span>© 2026 Sticko — Fait avec 💛 en France</span>
  <span>
    <a href=" ">Mentions légales</a> &nbsp;·&nbsp;
    <a href=" ">Confidentialité</a> &nbsp;·&nbsp;
    <a href=" ">Contact</a>
  </span>
</footer>

    <script src="../JavaScript/mur_postits.js"></script>
</body>
</html>
